**Import csv**

In [18]:
import pandas as pd
table = pd.read_csv(r"C:\Users\USER\Desktop\Pandas\imdb_movies.csv")
table.head()

,Index,Title,Description,Year,Movie Suitability,Category,Minutes,Rating,Votes,Director,Stars,Gross
0,1,The Shawshank Redemption,\n Two imprisoned men bond over a number of...,1994,R,\nDrama,142 min,9.3,"2,385,373",Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",$28.34M
1,2,The Godfather,\n An organized crime dynasty's aging patri...,1972,R,"\nCrime, Drama",175 min,9.2,"1,653,121",Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '...",$134.97M
2,3,The Dark Knight,\n When the menace known as the Joker wreak...,2008,PG-13,"\nAction, Crime, Drama",152 min,9.0,"2,348,542",Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",$534.86M
3,4,The Godfather: Part II,\n The early life and career of Vito Corleo...,1974,R,"\nCrime, Drama",202 min,9.0,"1,150,044",Francis Ford Coppola,"['Al Pacino', 'Robert De Niro', 'Robert Duvall...",$57.30M
4,5,12 Angry Men,\n A jury holdout attempts to prevent a mis...,1957,Approved,"\nCrime, Drama",96 min,9.0,"704,111",Sidney Lumet,"['Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'...",$4.36M

**Check column types**

In [24]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              250 non-null    int64
 1   Title              250 non-null    object
 2   Description        250 non-null    object
 3   Year               250 non-null    object
 4   Movie Suitability  250 non-null    object
 5   Category           250 non-null    object
 6   Minutes            250 non-null    object
 7   Rating             250 non-null    float64
 8   Votes              250 non-null    object
 9   Director           250 non-null    object
 10  Stars              250 non-null    object
 11  Gross              250 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 23.6+ KB

**Rename columns**

In [ ]:
table.rename(columns={"Index": "Ranking"},inplace=True)

**Strip newline characters**

In [74]:
table["Title"] = table["Title"].str.strip()

In [19]:
table["Description"] = table["Description"].str.strip()

In [20]:
table["Category"] = table["Category"].str.strip()

In [21]:
table["Stars"] = table["Stars"].str.replace("[", "").str.replace("]", "")

**Fix Gross column**

In [25]:
table["Gross"] = table["Gross"].str.replace("$","")
table["Gross"] = table["Gross"].str.replace("M","").str.replace(",",".")

In [42]:
table["Gross"] = table["Gross"].astype("float")
table["Gross"] = table["Gross"] * 1000000

**Change Year column type**

In [53]:
table["Year"] = table["Year"].str.replace("I ", "")
table["Year"] = table["Year"].astype("int")

**Fix Votes column type**

In [60]:
table["Votes"] = table["Votes"].str.replace(",","").astype("int")

**Remove min from Minutes column**

In [63]:
table["Minutes"] = table["Minutes"].str.replace(" min","")
table["Minutes"] = table["Minutes"].astype("int")

In [82]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            250 non-null    int64
 1   Title              250 non-null    object
 2   Description        250 non-null    object
 3   Year               250 non-null    int32
 4   Movie Suitability  250 non-null    object
 5   Category           250 non-null    object
 6   Minutes            250 non-null    int32
 7   Rating             250 non-null    float64
 8   Votes              250 non-null    int32
 9   Director           250 non-null    object
 10  Stars              250 non-null    object
 11  Gross              250 non-null    float64
dtypes: float64(2), int32(3), int64(1), object(6)
memory usage: 20.6+ KB

**Save dataframe to a new csv**

In [83]:
table.to_csv("Clean_imdb_movies.csv", index=False)